{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<section id="about" class="page-header text-center">
        <div class="container about-main-text">
            <div class="row">
                <div class="row justify-content-md-center">
                    <div class="mbr-white col-lg-12 col-md-12">
                        <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Glovo <br> быстрая доставка еды</h1>
                        <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                            Glovo - это курьерская служба по запросу, которая покупает, <br> забирает и доставляет товары, заказанные через мобильное  <br> приложение. Он стремится быть мультикатегориальным  <br> приложением для образа жизни, а доставка еды - самое популярное предложение.</br> 
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

<div class="container caroousel-container " id="news">
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img style="width: 100%;" src="{{ posts.0.cover.url}}" alt="{{ posts.0.title }}">
                    <div class="carousel-caption">
                        <div class="date">{{ posts.0.published_date }}</div>
                        <h1><a href="{% url 'post_detail' pk=posts.0.pk %}">{{ posts.0.title }}</a></h1>
                        <p>{{ posts.0.text|linebreaksbr }}</p>
                    </div>
                </div>
                {% for post in posts %}
                {% if post.title != posts.0.title %}
                <div class="item">
                    <img style="width: 100%;" src="{{ post.cover.url}}" alt="{{ post.title }}">
                    <div class="carousel-caption">
                        <div class="date">{{ post.published_date }}</div>
                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div><!-- End Carousel Inner -->
    
        </div><!-- End Carousel -->
        </div>
    </div>
    

<script>
        $(document).ready(function(){

            var clickEvent = false;
            $('#myCarousel').carousel({
                interval:   2500
            }).on('click', '.list-group li', function() {
                    clickEvent = true;
                    $('.list-group li').removeClass('active');
                    $(this).addClass('active');		
            }).on('slid.bs.carousel', function(e) {
                if(!clickEvent) {
                    var count = $('.list-group').children().length -1;
                    var current = $('.list-group li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if(count == id) {
                        $('.list-group li').first().addClass('active');	
                    }
                }
                clickEvent = false;
            });
        })

        $(window).load(function() {
            var boxheight = $('#myCarousel .carousel-inner').innerHeight();
            var itemlength = $('#myCarousel .item').length;
            var triggerheight = Math.round(boxheight/itemlength+1);
            $('#myCarousel .list-group-item').outerHeight(triggerheight);
        });
    </script>

{% endblock %}